
@media screen and (max-width:450px) {
    .nav-container,
    .menu-part,
    .sign-in-container,
    .all-cards
    {
        flex-direction: column;
    }
    .nav-container{
        padding: 20px;
    }
    .menu-bar{
        margin-bottom: 20px;
    }
    .sign-in-container{
        flex-direction: column-reverse;
    }
    .sign-in-section-container{
        width: 100%;
    }
    .img-section{
        width: 100%;
    }
}

/* responsive for medium device  */
@media screen and (min-width:451px) and (max-width:770px) {
    .nav-container,
    .menu-part,
    .sign-in-container
    {
        flex-direction: column;
    }
    .nav-container{
        padding: 20px;
    }
    .menu-bar{
        margin-bottom: 20px;
    }
    .sign-in-container{
        flex-direction: column-reverse;
    }
    .sign-in-section-container{
        width: 100%;
    }
    .img-section{
        width: 100%;
    }
}